@model AlbumDePhotographies.Models.Photo

@{
    ViewData["Title"] = "Nouvelle Photo Album - " + ViewBag.Albums.Nom;
}


<div class="formulaire">
    <div class="container">
        <div class="title">
            <h5>Nouvelle Photo Album -  @ViewBag.Albums.Nom</h5>
            <hr />
        </div>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <img id="photo" src="#" alt="photo" />
                    <div class="file-field input-field">
                        <div class="btn-small">
                            <span>Sélectionnez le fichier</span>
                            <input asp-for="Lien" class="form-control" type="file" name="ficher" onchange="ChargerPhoto(this)" />
                            <span asp-validation-for="Lien" class="text-danger"></span>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path-wrapper validate" type="text" placeholder="Envoyer la photo" />
                        </div>
                    </div>
                    <input type="hidden" asp-for="AlbumId" value="@ViewBag.Albums.AlbumId" />
                    <div class="form-group">
                        <input type="submit" value="Enregistrer" class="btn btn-small" /> &nbsp;|&nbsp;
                        <a asp-controller="Albums" asp-action="Details" asp-route-id="@ViewBag.Albums.AlbumId" class="btn-small grey darken-3">Retour</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#photo').hide();
        });

        function ChargerPhoto(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                $('#photo').show();

                reader.onload = function (e) {
                    $('#photo').attr('src', e.target.result);
                }
            }
            reader.readAsDataURL(input.files[0]);
        }

    </script>
}
