@model GestionCV.Models.Curriculum

@{
    ViewData["Title"] = "Nouveau CV";
}


<div class="formulaire">
    <h4>Nouveau CV</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="input-field col s6">
                        <input asp-for="Nom" id="Nom" class="validate" />
                        <label for="Nom">CV</label>
                        <span asp-validation-for="Nom" class="red-text darken-3"></span>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Confirmer" class="btn btn-small orange darken-2" />
                    <a asp-action="Index" class="btn btn-small orange lighten-1">Retour</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
