@model GestionCV.Models.Curriculum

@{
    ViewData["Title"] = "Mise à jour " + @Model.Nom;
}


<div class="formulaire">
    <h5>@ViewData["Title"]</h5>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <input type="hidden" asp-for="CurriculumId" />
                <partial name="_DonneesFormulaire" />
                <div class="row">
                    <input type="submit" value="Confirmer" class="btn btn-small orange darken-2" />
                    <a asp-action="Index" class="btn btn-small orange lighten-1">Retour</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
