@model ControleurDepensesPersonnelles.Models.Depense

@{
    ViewData["Title"] = "Nouvelle Depénse";
}

<<div class="formulaire">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MoisId" class="control-label">Mois</label>
                    <select asp-for="MoisId" class="form-control" asp-items="ViewBag.MoisId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TypeDepenseId" class="control-label">Type depénse</label>
                    <select asp-for="TypeDepenseId" class="form-control" asp-items="ViewBag.TypeDepenseId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Valeur" class="control-label"></label>
                    <input asp-for="Valeur" class="form-control" />
                    <span asp-validation-for="Valeur" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-success" />
                    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
