@model IEnumerable<Agenda.Models.Tache>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nouvelle Tâche</a>
</p>

@await Component.InvokeAsync("PrioriteHaut")
@await Component.InvokeAsync("PrioriteMoyenne")
@await Component.InvokeAsync("PrioriteBas")



