@model GestionCV.Models.ExperienceProfessionnelle

@{
    ViewData["Title"] = "Nouvelle experience profissionelle";
}



<div class="formulaire">
    <h4>Nouvelle experience profissionelle</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <input asp-for="CurriculumId" type="hidden" />

                <partial name="_DonneesFormulaire"/>

                <div class="row">
                    <input type="submit" value="Confirmer" class="btn btn-small orange darken-2" />
                    <a asp-action="Details" asp-controller="Curriculums" asp-route-id="@Model.CurriculumId" class="btn btn-small orange lighten-1">Retour</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}